body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topnav {
    background-color: #6fa9cc;
    padding: 10px;
    text-align: center;
    position: relative;
}

.topnav a {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #575757;
}

.menu {
    display: none;
    background-color: #333;
}

.menu a {
    display: block;
    color: white;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #575757;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav label {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    #menu-toggle:checked + .menu {
        display: block;
    }


    #menu-toggle:checked ~ .menu a {
        display: block;
    }
}
@media screen and (min-width: 601px) {
    .topnav a {
        display: inline-block;
        color: black;
    }
    .menu {
        display: flex;
        background-color: #6fa9cc;
    }
}